@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Consolas'; /* Nombre que utilizarás para referenciar la fuente */
  src: url('consolaz.ttf') format('truetype'); /* Ruta relativa al archivo .ttf */
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-family: 'Consola', monospace;
  color-scheme: dark;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  text-rendering: optimizeLegibility;
}